certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.5
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
oauth2==1.9.0.post1
oauthlib==2.0.4
pbr==3.1.1
psycopg2==2.7.3.1
pyglet==1.2.4
PyJWT==1.5.3
pyparsing==2.2.0
python-dateutil==2.6.1
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.1.0
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
stevedore==1.27.0
urllib3==1.22
utils==0.9.0
whitenoise==3.3.0
